body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
}
h1{
    font-size: 30pt; 
    font-weight: bold; 
}
nav{
    padding: 20px 0px 20px 20px; 
    background-color: darkblue;
    color: white;
    width: 100%;
}
nav li{
    display: inline; 
}
nav li a{
    text-decoration: none; 
    padding: 20px 20px 20px 20px; 
    color: red; 
    font-size: 13pt; 
}
nav li a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
section{
    float: left; 
    width: 80%; 
    background-color: lightblue;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin: 30px 10% 30px 10%;
}
#logo img{
    width: 50%; 
    height: 100px; 
    margin: 30px 10% 30px 10%;
}
#stageplaats img{
    width: 50%;
    margin: 1% 0% 1% 1%;
}
footer{
    float: left; 
    width: 80%; 
    background-color: lightblue;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin: 30px 10% 30px 10%;
}